<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сотрудники</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <a href="/">Главная</a>
    <a style="color:red" href="/employees">Список сотрудников</a>
</div>

<h1><a href="/newEmployee">Новый сотрудник</a></h1>

<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employeeList}">
        <td><a th:href="${'/employees/' + employee.id}"><span th:text="${employee.firstName}">Имя</span></a></td>
        <td><a th:href="${'/employees/' + employee.id}"><span th:text="${employee.lastName}">Фамилия</span></a></td>
        <td>
            <form action="#" th:action="@{/employees/delete}" method="post">
                <input type="hidden" th:name="id" th:value="${employee.id}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
